<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RockSatGraphIt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RockSatGraphIt.Properties.Settings>
            <setting name="fileNameTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="timeStartTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="timeStopTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="xAxisTicksTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="yMinTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="yMaxTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="fileTypeCMB" serializeAs="String">
                <value />
            </setting>
            <setting name="xAxisLabelTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="yAxisLabelTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="graphTitleTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="graphSubtitleTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="graphTypeCMB" serializeAs="String">
                <value />
            </setting>
            <setting name="graphWidthTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="plotColorTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="labelColorTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="labelSizeTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="outputDirectoryTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="graphHeightTXT" serializeAs="String">
                <value />
            </setting>
        </RockSatGraphIt.Properties.Settings>
    </userSettings>
</configuration>